body {
	margin: 0;
}

span.fheader {
	font-weight: bold;
}

span.fsvalue {
	font-family: monospace;
}

table.inflection {
	border-collapse: collapse;
}

table.inflection tr > td {
	color: black;
	background-color: #88EE88;
}

table.inflection a {
	text-decoration: none;
}

table.inflection tr.characteristic > td {
	color: black;
	background-color: #44DD44;
	display: table-cell;
}

div.topbar {
	color: black;
	background-color: #227777;
	padding: 0.5em;
}

div.main {
	color: black;
	background-color: #9999FF;
	padding: 0.5em;
}

div.editor {
	color: black;
	background-color: #9999FF;
	top: 0;
	left: 0;
}

div.main a {
	color: #0000FF;
}

div.rightinfo {
	color: black;
	background-color: #44DD44;
	position: relative;
	float: right;
	max-width: 40%;
	padding: 0.5em;
}

div.bottominfo {
	color: black;
	background-color: #44DD44;
	clear: both;
	padding: 0.5em;
}

div.clear {
	clear: both;
}

div.login {
	font-size: 0.8em;
	float: right;
}

div.topbar h1 {
	font-size: 1.5em;
	float: left;
	margin-top: 0.0em;
	margin-bottom: 0.0em;
}

form.subform {
	border: 1px dotted black;
}

div.logitem {
	border: 1px dotted black;
	margin-bottom: 0.5em;
}

p.date {
	font-family: monospace;
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}

p.logmsg {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 2em;
	color: #444444;
	font-style: italic;
}

p.comment {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 2em;
}
