span.fheader {
	font-weight: bold;
}

span.fsvalue {
	font-family: monospace;
}

table.inflection {
	color: black;
	background-color: #00CC00;
	position: absolute;
	top: 0;
	right: 0; 
	border-collapse: collapse;
}

table.inflection tr > td {
	color: black;
	background-color: #44EE44;
	/*display: none;*/
}

table.inflection tr.characteristic > td {
	color: black;
	background-color: #00CC00;
	display: table-cell;
}
